services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_USER: rbitly
      POSTGRES_PASSWORD: rbitly
      POSTGRES_DB: rbitly
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./docker/postgres/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U rbitly -d rbitly"]
      interval: 5s
      timeout: 3s
      retries: 10

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redisdata:/data
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10

  app:
    build:
      context: .
      dockerfile: Dockerfile
    depends_on:
      postgres:
        condition: service_healthy
      redis:
        condition: service_healthy
    environment:
      NODE_ENV: production
      PORT: 3000
      HOST: 0.0.0.0

      DATABASE_URL: postgresql://rbitly:rbitly@postgres:5432/rbitly?schema=public
      REDIS_URL: redis://redis:6379

      IP_HASH_SALT: dev-unsafe-salt-change-me
      COOKIE_SECRET: dev-cookie-secret-change-me
      METRICS_TOKEN: ""
    ports:
      - "3000:3000"

volumes:
  pgdata:
  redisdata:
